* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #272c34;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
}